# DIGITS_DATA_VISUALIZE

This notebook provides the Logistic Regression calssification for the Digits data

# 1 - IMPORTS FOR NOTEBOOK

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# 2 - LOAD DIGITS DATA

In [56]:
from sklearn.datasets import load_digits
digits_data = load_digits()

In [57]:
pd_digits_data = pd.DataFrame(digits_data.data,columns=range(1, 65))

In [58]:
pd_digits_data

,1,2,3,4,5,6,7,8,9,10,...,55,56,57,58,59,60,61,62,63,64
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,4.0,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,8.0,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0

In [59]:
pd_digits_target = pd.DataFrame(digits_data.target,columns=['labels'])

In [60]:
pd_digits_target

      labels
0          0
1          1
2          2
3          3
4          4
...      ...
1792       9
1793       0
1794       8
1795       9
1796       8

[1797 rows x 1 columns]

# TRAIN TEST DATA

In [61]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(pd_digits_data, pd_digits_target, test_size=0.33, random_state=2020)

In [62]:
test_y

      labels
670        4
1074       3
1007       6
121        4
1057       8
...      ...
772        0
189        3
1766       1
1423       8
1454       9

[594 rows x 1 columns]

# CLASSIFICATION METRICS

In [63]:
metrics_list={}

In [64]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import brier_score_loss
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

def mertics_function(test_y, y_pred,class_count,model_name,metrics_list,comments):
    metrics_list['model_name'] = model_name
    metrics_list['accuracy_score'] = accuracy_score(test_y, y_pred)
    metrics_list['balanced_accuracy_score'] = balanced_accuracy_score(test_y, y_pred)
    #metrics_list['average_precision_score'] = average_precision_score([test_y,class_count], [y_pred,class_count])
    #metrics_list['brier_score_loss'] = brier_score_loss(test_y, y_pred)
    #metrics_list['f1_score'] = f1_score(test_y, y_pred)
    #metrics_list['precision_score'] = precision_score(test_y, y_pred)
    #metrics_list['recall_score']=recall_score(test_y, y_pred)
    metrics_list['comments']=comments

# LOGISTIC REGRESSION

In [65]:
unique, count = np.unique(test_y, return_counts=True)

In [66]:
class_count = len(unique)

In [67]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(train_x, train_y)
y_pred = clf.predict(test_x)
mertics_function(test_y,y_pred,class_count,"Logistic Regression",metrics_list,"Straight data without any change")
# update the dataframe with the metrics 
metrics_pd = pd.DataFrame([metrics_list])

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

# SVM

In [68]:
from sklearn import svm
svm_clf = svm.SVC()
svm_clf.fit(train_x, train_y)
y_pred = svm_clf.predict(test_x)
mertics_function(test_y,y_pred,class_count,"SVM",metrics_list,"Straight data without any change")
# update the dataframe with the metrics 
metrics_pd = metrics_pd.append([metrics_list])

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

# SGD

In [69]:
from sklearn.linear_model import SGDClassifier
sgd_clf = SGDClassifier(loss="hinge", penalty="l2", max_iter=5)
sgd_clf.fit(train_x, train_y)
y_pred = sgd_clf.predict(test_x)
mertics_function(test_y,y_pred,class_count,"SGD",metrics_list,"Straight data without any change")
# update the dataframe with the metrics 
metrics_pd = metrics_pd.append([metrics_list])

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/stochastic_gradient.py:561: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)

# DECISION TREE CLASSIFIER

In [70]:
from sklearn import tree
tree_clf = tree.DecisionTreeClassifier()
tree_clf = clf.fit(train_x, train_y)
y_pred = tree_clf.predict(test_x)
mertics_function(test_y,y_pred,class_count,"Decision Tree",metrics_list,"Straight data without any change")
# update the dataframe with the metrics 
metrics_pd = metrics_pd.append([metrics_list])

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

# RANDOM FOREST

In [71]:
from sklearn.ensemble import RandomForestClassifier
rand_clf = RandomForestClassifier(n_estimators=10)
rand_clf = clf.fit(train_x, train_y)
y_pred = rand_clf.predict(test_x)
mertics_function(test_y,y_pred,class_count,"Random Forest",metrics_list,"Straight data without any change")
# update the dataframe with the metrics 
metrics_pd = metrics_pd.append([metrics_list])

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

# GRADIENT BOOST

In [72]:
from sklearn.ensemble import GradientBoostingClassifier
grad_clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0).fit(train_x, train_y)
y_pred = grad_clf.predict(test_x)
mertics_function(test_y,y_pred,class_count,"Gradient Boost",metrics_list,"Straight data without any change")
# update the dataframe with the metrics 
metrics_pd = metrics_pd.append([metrics_list])

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# ADA BOOST

In [73]:
from sklearn.ensemble import AdaBoostClassifier
ada_clf = AdaBoostClassifier(n_estimators=100).fit(train_x, train_y)
y_pred = ada_clf.predict(test_x)
mertics_function(test_y,y_pred,class_count,"Ada Boost",metrics_list,"Straight data without any change")
# update the dataframe with the metrics 
metrics_pd = metrics_pd.append([metrics_list])

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [74]:
metrics_pd

,model_name,accuracy_score,balanced_accuracy_score,comments
0,Logistic Regression,0.962963,0.962184,Straight data without any change
0,SVM,0.368687,0.377913,Straight data without any change
0,SGD,0.942761,0.941424,Straight data without any change
0,Decision Tree,0.962963,0.962184,Straight data without any change
0,Random Forest,0.962963,0.962184,Straight data without any change
0,Gradient Boost,0.107744,0.100000,Straight data without any change
0,Ada Boost,0.255892,0.261275,Straight data without any change

In [76]:
test_y

      labels
670        4
1074       3
1007       6
121        4
1057       8
...      ...
772        0
189        3
1766       1
1423       8
1454       9

[594 rows x 1 columns]

In [ ]:
y_test.reset_index(inplace = True)
y_test

In [ ]:
del y_test['index']
y_test

In [ ]:
pd_results = pd.DataFrame(y_pred,columns=['y_pred'])

In [ ]:
pd_results['y_test'] = y_test

In [ ]:
pd_results

In [ ]:
pd_results['y_pred'].plot.kde()
pd_results['y_test'].plot.kde()